@import "tailwindcss";

:root {
  --background: #f2f3f5;
  --foreground: #1f2937;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-figtree: var(--font-figtree);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Figtree", sans-serif;
}

@utility btn {
  @apply !rounded-full text-white font-bold;
}

@utility btn-primary {
  @apply btn bg-blue-500  hover:bg-blue-600;
}

@utility btn-secondary {
  @apply btn bg-gray-400  hover:bg-gray-500;
}

@utility btn-warning {
  @apply btn bg-red-400  hover:bg-red-500;
}

@utility btn-success {
  @apply btn bg-green-400  hover:bg-green-500;
}
